
@{
    ViewBag.Title = "AfterSignup";
}

<h1 style="color:#4cff00">Your Account is Successfully Created.....It will be Approved by Admin with in 6 Hours.... </h1>
<h2 style="color:#8c8bee">Thank you for Registeration!</h2>

